# 后端项目中的提交忽略文件
/blog-nest/dist
/blog-nest/node_modules
/blog-nest/build
/blog-nest/logs
/blog-nest.env

# 前端项目中的提交忽略文件
/blog-vue/logs
/blog-vue/node_modules
/blog-vue/dist
/blog-vue/dist-ssr
/blog-vue/*.local



